body {
    background-color: #ebefd1; 
    font-family: "Aleo", sans-serif;
 }
 template > div {
   display: flex;
 }
 img {
     min-height: 50px;
     border: solid #1B3536;
     border-radius: 8px;
     height: auto;
     width: 100px;
 }
 
 button {
     border-radius: 8px;
     color: #94AFB3;
 }

 i {
   border: none;
   width: 32px;
   height: 32px;
   color: #be6e46;
   transition: all ease-in-out 0.2s;
   cursor: pointer;
 }

 i:hover {
   color: #1b3536;
 }
 
 img:hover {
     box-shadow: 0 12px 16px 0 #94AFB3;
 }
 /* width */
 ::-webkit-scrollbar {
     width: 10px;
   }
   
   /* Track */
   ::-webkit-scrollbar-track {
     background: #EBEFD1;
   }
   
   /* Handle */
   ::-webkit-scrollbar-thumb {
     background: #be6346
   }
   
   /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
     background: #1B3536;
   }
 
   ::-webkit-scrollbar-button {
       background-color: #ebefd1;
   }
